body {
  font-family: 'Pretendard', sans-serif;
}

.inner {
  width: 1920px;
}

/* header */

.banner-wrap {
  display: flex;
  background: var(--main-navy);
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-wrap .inner {
  width: 1440px;
  position: relative;
}
.banner-wrap .banner-text {
  color: var(--text-white);
  font-size: 16px;
  font-weight: var(--fw-bold);
  width: 1440px;
  text-align: center;
}

.inner .banner-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-menu-wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.inner .main.menu-wrap img {
  width: 100%;
}

.inner .main-menu-right {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.inner .main-menu-gnb {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: var(--text-black);
  font-size: 16px;
  font-weight: 500;
}

.inner .main-menu-gnb .gnb-login::after {
  content: '|';
  margin: 0 0 0 10px;
  color: var(--border2);
  font-weight: 400;
}

.inner .main-menu-list {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 24px 0;
  color: var(--text-black);
  font-size: 18px;
  font-weight: 600;
}

.inner .main-menu-list a:hover {
  color: var(--main-pink);
}

.inner .list-bar::after {
  content: '|';
  margin: 0 0 0 10px;
  color: var(--border2);
  font-weight: 400;
}

/* header-sub 스크롤 내릴 때 고정... */
.inner .header-sub-wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.inner .sub-menu-left {
  display: flex;
  align-items: center;
}

.inner .sub-menu-list {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-black);
  font-size: 16px;
  font-weight: 500;
}

.inner .sub-menu-list .gnb-login::after {
  content: '|';
  margin: 0 0 0 10px;
  color: var(--border2);
}

/* main */
.sample {
  height: 1000px;
}

/* footer */

.footer-top .inner {
  display: flex;
  padding: 0 240px;
  gap: 500px;
}
.footer-top .footer-left {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 35px 0;
}

.footer-top .footer-left p {
  margin-bottom: 5px;
  font-size: 12px;
  color: var(--text-gray);
}

.footer-top .footer-left span {
  margin: 0 10px 0 0;
}

.footer-top .footer-left .address-list::after {
  content: '|';
  margin: 0 0 0 10px;
  color: var(--border2);
  font-weight: 400;
}

.footer-top .footer-right {
  display: flex;
  gap: 75px;
  margin: 90px 0 0 0;
}

.footer-top .noti-title {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: var(--text-gray);
}

.footer-top .noti-list {
  margin: 0 0 5px 0;
  font-size: 12px;
  color: var(--text-gray);
}

.footer-top .footer-right .noti-list a:hover {
  text-decoration: underline;
}

.footer-top .footer-right .cus-info-title {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: var(--text-gray);
}

.footer-top .footer-right p {
  margin: 0 0 5px 0;
  font-size: 12px;
  color: var(--text-gray);
}

.footer-bottom {
  display: flex;
  background: var(--main-navy);
  padding: 17px 240px;
  color: var(--border3);
  font-size: 12px;
}

.footer-bottom .inner {
  display: flex;
  justify-content: space-between;
}

.footer-bottom ul {
  display: flex;
  gap: 25px;
}

.footer-bottom ul > li > a:hover {
  text-decoration: underline;
}

.footer-bottom .footer-bottom-list::after {
  content: '|';
  margin: 0 0 0 25px;
  color: var(--border2);
  font-weight: 400;
}
